.accordion {
    overflow: hidden;
    position: relative;
    
    &__item {
        margin-bottom: -1px;
    }
    
    &__item-title {
        position: relative;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        padding: 30px 50px 30px 0;
        transition: color .3s;
        border-bottom: 1px solid rgba($gray-200, .5);
        margin-bottom: -1px;
        
        @media (max-width: $breakpoint-medium-max) {
            font-size: 18px;
            padding: 15px 40px 15px 0;
        }
        
        &::after {
            position: absolute;
            right: 0;
            top: 50%;
            font-family: 'icomoon';
            transform: translateY(-50%);
            content:'\e900';
            font-size: 8px;
            font-weight: normal;
            transition: transform .2s;
        }
        
        &.active {
            border-bottom-color: $primary-color;
            color: $primary-color;
            
            &::after {
                transform: translateY(-50%) rotate(-180deg);
            }
        }
    }
    
    &__item-content {
        display: none;
        padding: 15px 0;
    }
}