@import "./app/src/assets/styles/variables";
//.icon-name {
//  background-image: url('/assets/images/email.png');
//}
//.icon-ort {
//  background-image: url('/assets/images/ort.png');
//}
//.icon-phone {
//  background-image: url('/assets/images/phone.png');
//}
//.icon-comment {
//  background-image: url('/assets/images/comment.png');
//}
.wpcf7-response-output {
  border: none!important;
  background-color: rgba(#E66A6A, .6);
}
.form {
  background: #fff;
  box-shadow: $box-shadow;
  border-radius: 8px;
  padding: 30px 20px 50px;
  margin: 20px 0 40px;
  width: 100%;
  display: block;
  .button {
    font-size: 14px;
  }
  &-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #D9E2EC;
    width: 40px;
  [class*=icon-]{
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
    }
  }
  @media (max-width: $breakpoint-medium-max) {
    padding: 30px 16px;
  }

  &__holder {
    max-width: 1170px;
    margin: 0 auto;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    > * {
      margin: 0 0 0 24px;
    }
  }

  &__row {
    margin-bottom: 24px;
    &--flex {
      flex-wrap: wrap;
      display: flex;
      margin-right: -8px;
      margin-left: -8px;
    }

    &--inline {
      display: flex;
      align-items: flex-start;
    }

    &--separate {
      border-top: 1px solid $border-color;
      padding: 20px;
    }
  }

  &__area {
    padding: 0 8px 24px;
    flex: 1 1 50%;

    @media (max-width: $breakpoint-xsmall-max) {
      flex: 1 1 100%;
    }
    &--expand {
      flex: 1 1 100%;
      width: 100%;
    }
  }

  &__label {
    margin: 0 0 10px 16px;
    display: block;

    .form__row--inline & {
      margin-left: 0;
      margin-right: 16px;
      flex: 0 0 34%;
    }
  }

  &__date {
    position: relative;

    .vdp-datepicker {
      width: 100%;
      display: block;
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    background: $input;
    border-radius: 8px;
    border: 2px solid $border-color;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;
    font-weight: 500;
    box-sizing: border-box;
    outline: none;
    &:focus {
      background: #fff;
      border-color: $base-color;
    }

    &--small {
      height: 100px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin-bottom: 16px;
    }
  }

  &__error,.wpcf7-not-valid-tip {
    font-size: 13px;
    color: $error;
    display: block;
    margin-top: 4px;
  }
  &-contact {
    //.form {
    //  &-input {
    //      input {
    //        padding-left: 50px;
    //      }
    //  }
    //}
  }
}
.form-input {
  position: relative;
  input {
    display: block;
    width: 100%;
    height: 44px;
    background: $input;
    border-radius: 8px;
    border: 2px solid $border-color;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;
    font-weight: 500;
    box-sizing: border-box;
    outline: none;
    &:focus {
      background: #fff;
      border-color: $base-color;
    }
  }

  label {
    display: block;
    margin: 0 0 10px 16px;
  }

  &--error {
    input {
      border-color: $error;
      background: #fff;
    }
  }

  &--inline {
    display: flex;

    label {
      margin: 10px 16px 10px 0;
      flex: 0 0 34%;
    }
    div {
      flex: 1 1 auto;
    }
  }

  &--required {
    label {
      &::after {
        display: inline-block;
        color: $error;
        content: '*'
      }
    }
  }
}
.form-checkbox {
  position: relative;
  display: inline-flex;
  > a {
    margin-left: 5px;
    color: #595959;
  }
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    left: 0;
    margin: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    &:checked ~ .wpcf7-list-item-label {
      &::before {
        background: $primary-color;
      }
    }
  }
  span {
    margin: 0;
  }
  .wpcf7-list-item-label {
    padding-left: 34px;
    position: relative;
    color: #595959;
    //display: inline-flex;
    @media (max-width: $breakpoint-small-max) {
      padding-top: 3px;
    }
    &::before {
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      content:'';
      width: 20px;
      height: 20px;
      border: 2px solid $primary-color;
      border-radius: 2px;
      background: #fff;
      transition: background-color .2s;
    }
    &::after {
      z-index: 1;
      position: absolute;
      left: 5px;
      top: 5px;
      content: '';
      width: 12px;
      height: 7px;
      border: solid #fff;
      border-width: 0 0 2px 2px;
      transform: rotate(-45deg);
    }
  }
  + .form-checkbox {
    margin-left: 10px;
  }

  &--custom {
    display: flex;
    width: 100%;
    label {
      flex: 1 1 auto;
      width: 100%;
      text-align: center;
      display: block;
      background: #fff;
      box-shadow: 0 22px 40px rgba(17, 96, 96, 0.12);
      border-radius: 8px;
      padding: 91px 15px 40px;
      &::before {
        left: 15px;
        top: 26px;
      }
      &::after {
        left: 20px;
        top: 30px;
      }

      strong {
        display: block;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
        word-break: break-all;
        @media (max-width: $breakpoint-small-max) {
          font-size: 18px;
        }
      }

      span {
        position: absolute;
        top: 18px;
        left: 5px;
        right: 5px;
        height: 40px;
        background: #BDD7EE;
        text-align: right;
        border-radius: 8px;
        font-size: 14px;
        padding: 5px 12px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }

    &.form-checkbox--green {
      label span {
        background: #A9D18E;
      }
    }

    &.form-checkbox--gray {
      label span {
        background: #E3E3E3;
      }
    }

    &.form-checkbox--yellow {
      label span {
        background: #FFE699;
      }
    }

    &.form-checkbox--orange {
      label span {
        background: #F4B183;
      }
    }

    &.form-checkbox--red {
      label span {
        background: #FF9999;
      }
    }

    &.form-checkbox--purple {
      label span {
        background: #C5C4F0;
      }
    }

    &.form-checkbox--light-green {
      label span {
        background: #BCEFDA;
      }
    }
  }

  &--small {
    font-size: 14px;
  }

  .form__area & {
    padding-left: 16px;
    color: #595959;
  }
}