.prices {
    margin-bottom: 60px;
    
    &__row {
        display: flex;
        border-radius: 8px;
        padding: 18px;
        
        > div {
            flex: 1 1 auto;
            padding: 0 5px;
            text-align: center;
            &:first-child {
                text-align: left;
                font-weight: 700;
                flex: 0 0 25%;
            }
            
            &:last-child {
                font-weight: 700;
                flex: 0 0 18%;
            }
        }
        
        &--head {
            background: $primary-color;
            color: #fff;
            font-weight: 700;
        }
        
        &:nth-child(2n) {
            background: #F3F3F3;
        }
    }
    
    
}