.social-links {
    li {
        padding-bottom: 26px;
    }
    
    a {
        display: block;
        width: 20px;
        height: 20px;
        color: $base-color;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            color: $primary-color;
        }
        svg {
            color: currentColor;
            path {
                fill: currentColor;
            }
        }
    }
    
    &--inline {
        display: flex;
        li {
            padding-right: 36px;
            padding-bottom: 0;
        }
    }
    
    .hero & {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    
        @media (max-width: 1300px) {
            display: none !important;
        }
        
        li {
            a {
                opacity: .5;
            }
        }
    }
}