.button {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid;
    border-radius: 35px;
    line-height: 1.2;
    transition: background-color .2s, color .2s, box-shadow .2s;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    font-family: $font-family;
    padding: 20px 45px;
    text-align: center;
    min-width: 180px;
    justify-content: center;
    position: relative;
    
    @media (max-width: $breakpoint-small-max) {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    &:hover {
        text-decoration: none;
    }
    
    &--primary {
        border-color: $primary-color;
        background: $primary-color;
        color: #fff;
        box-shadow: 0 20px 20px rgba(37, 100, 105, 0.2);
        &:hover {
            box-shadow: none;
        }
    }
    
    &--outline {
        border-color: $primary-color;
        color: $primary-color;
        background: none;
        &:hover {
            background: $primary-color;
            color: #fff;
        }
    }
    
    &--outline-inverse {
        color: #fff;
        border-color: #fff;
    }
    
    &--small {
        padding: 13px 40px;
        border-radius: 30px;
        font-size: 18px;
    }
    
    &--back {
        background: none;
        border: 0;
        color: $primary-color;
        &::before {
            width: 12px;
            height: 10px;
            content:'';
            transform: translateX(-9px);
            background: url('./assets/arrow.svg') no-repeat;
            display: block;
            transition: transform .2s;
        }
        &:hover {
            &::before {
                transform: translateX(-14px);
            }
        }
    
    
        @media (max-width: $breakpoint-small-max) {
            width: 60px;
            height: 60px;
            min-width: 40px;
            padding: 0;
            line-height: 0;
            font-size: 0;
            border: 2px solid $primary-color;
            &::before {
                transform: translateX(0);
            }
            &:hover {
                &::before {
                    transform: translateX(-5px);
                }
            }
        }
    }
    
    &--disabled {
        opacity: .5;
        background: $base-color;
        pointer-events: none;
        color: #fff;
        border-color: $base-color;
        box-shadow: none !important;
    }
}