.form-checkbox {
    position: relative;
    display: inline-flex;
    
    input[type='checkbox'] {
        position: absolute;
        opacity: 0;
        left: 0;
        margin: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        &:checked ~ label {
            &::before {
                background: $primary-color;
            }
        }
    }
    label {
        padding-left: 34px;
        position: relative;
        display: inline-flex;
        @media (max-width: $breakpoint-small-max) {
            padding-top: 3px;
        }
        &::before {
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            content:'';
            width: 20px;
            height: 20px;
            border: 2px solid $primary-color;
            border-radius: 2px;
            background: #fff;
            transition: background-color .2s;
        }
        &::after {
            z-index: 2;
            position: absolute;
            left: 5px;
            top: 5px;
            content: '';
            width: 12px;
            height: 7px;
            border: solid #fff;
            border-width: 0 0 2px 2px;
            transform: rotate(-45deg);
        }
    }
    + .form-checkbox {
        margin-left: 10px;
    }
    
    &--custom {
        display: flex;
        width: 100%;
        label {
            flex: 1 1 auto;
            width: 100%;
            text-align: center;
            display: block;
            background: #fff;
            box-shadow: 0 22px 40px rgba(17, 96, 96, 0.12);
            border-radius: 8px;
            padding: 91px 15px 40px;
            &::before {
                left: 15px;
                top: 26px;
            }
            &::after {
                left: 20px;
                top: 30px;
            }
            
            strong {
                display: block;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 20px;
                word-break: break-all;
                @media (max-width: $breakpoint-small-max) {
                    font-size: 18px;
                }
            }
            
            span {
                position: absolute;
                top: 18px;
                left: 5px;
                right: 5px;
                height: 40px;
                background: #BDD7EE;
                text-align: right;
                border-radius: 8px;
                font-size: 14px;
                padding: 5px 12px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    
        &.form-checkbox--green {
            label span {
                background: #A9D18E;
            }
        }
    
        &.form-checkbox--gray {
            label span {
                background: #E3E3E3;
            }
        }
    
        &.form-checkbox--yellow {
            label span {
                background: #FFE699;
            }
        }
    
        &.form-checkbox--orange {
            label span {
                background: #F4B183;
            }
        }
        
        &.form-checkbox--red {
            label span {
                background: #FF9999;
            }
        }
    }
    
    .form__area & {
        padding-left: 16px;
    }
}