.form {
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: 8px;
    padding: 30px 20px 50px;
    margin: 20px 0 40px;
    width: 100%;
    display: block;
    overflow: hidden;
    
    @media (max-width: $breakpoint-medium-max) {
        padding: 30px 16px;
    }
    
    &__holder {
        max-width: 1170px;
        margin: 0 auto;
    }
    
    &__buttons {
        display: flex;
        justify-content: flex-end;
        > * {
            margin: 0 0 0 24px;
        }
    }
    
    &__row {
        margin-bottom: 24px;
        &--flex {
            flex-wrap: wrap;
            display: flex;
            margin-right: -8px;
            margin-left: -8px;
        }
    }
    
    &__area {
        padding: 0 8px 24px;
        flex: 1 1 50%;
        &--expand {
            flex: 1 1 100%;
            width: 100%;
        }
    }
    
    &__label {
        margin: 0 0 10px 16px;
        display: block;
    }
    
    &__date {
        position: relative;

        .vdp-datepicker {
            width: 100%;
            display: block;
        }
    }
}