.form {
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: 8px;
    padding: 50px 20px;
    margin: 30px 0 40px;
    width: 100%;
    display: block;
    overflow: hidden;
    
    @media (max-width: $breakpoint-medium-max) {
        padding: 30px 16px;
    }
    
    &__holder {
        max-width: 1170px;
        margin: 0 auto;
    }
    
    &__buttons {
        display: flex;
        justify-content: flex-end;
        > * {
            margin: 0 0 0 24px;
        }
    }
    
    &__row {
        margin-bottom: 24px;
        &--flex {
            display: flex;
            margin-right: -14px;
            margin-left: -14px;
            > div {
                padding: 0 14px;
            }
        }
    }
    
    &__area {
    
    }
}