.step {
    @media (min-width: $breakpoint-small) {
        display: flex;
    }
    
    &__title {
        background: $primary-color;
        border-radius: 8px;
        box-sizing: border-box;
        color: #fff;
        padding: 16px;
        margin-bottom: 24px;
    
        @media (min-width: $breakpoint-small) {
            padding: 40px 24px;
            flex: 0 0 40%;
            min-height: 500px;
            margin-bottom: 0;
        }
    
        @media (min-width: $breakpoint-medium) {
            padding: 40px;
        }
    
        @media (min-width: $breakpoint-large) {
            padding: 60px;
            flex: 0 0 50%;
        }
        h1 {
            margin: 0;
        }
    }
    
    &__info {
        margin-top: 16px;
        @media (max-width: $breakpoint-medium-max) {
            font-size: 16px;
        }
    }
    
    &__content {
        position: relative;
        flex: 1 1 auto;
        box-sizing: border-box;
        align-content: center;
        align-items: center;
        
        @media (min-width: $breakpoint-small) {
            padding: 16px 0 72px 16px;
            display: flex;
        }
    
        @media (min-width: $breakpoint-large) {
            padding: 30px 0 72px 30px;
        }
    
    }
    
    &__holder {
        width: 100%;
    }
    
    &__top {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $border-color;
        padding: 16px;
        margin-bottom: 24px;

        @media (min-width: $breakpoint-small) {
            position: absolute;
            right: 0;
            top: 0;
            left: 16px;
            padding: 20px 16px 16px;
        }
        
        @media (min-width: $breakpoint-large) {
            left: 30px;
            padding-top: 30px;
            padding-bottom: 20px;
        }
        
        strong {
            display: block;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
    
    &__price-box {
        font-size: 18px;
    }
    
    &__buttons {
        display: flex;
        justify-content: center;
        @media (min-width: $breakpoint-small) {
            position: absolute;
            right: 0;
            bottom: 0;
            justify-content: flex-end;
        }
        
        > * {
            margin: 0 8px;
            @media (min-width: $breakpoint-small) {
                margin: 0 0 0 24px;
            }
        }
    }
    
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
        > div {
            width: 50%;
            padding: 0 8px 16px;
            display: flex;
        }
    }
    
    &--price {
        .step__content {
            @media (min-width: $breakpoint-small) {
                padding-top: 92px;
            }
    
            @media (min-width: $breakpoint-large) {
                padding-top: 110px;
            }
    
        }
    }
}