.table {
    border: solid $border-color;
    border-width: 1px 0;
    padding: 20px 10px;
    margin-bottom: 24px;
    
    &__row {
        display: flex;
        padding: 10px 0;
        align-items: center;
        
        > div {
            flex: 1;
            padding: 0 5px;
            text-align: center;
            
            &:first-child {
                text-align: left;
                flex: 0 0 36%;
                font-size: 14px;
                
                strong {
                    display: block;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
        }
        
        &--head {
            font-size: 14px;
            font-weight: 500;
            color: #BCBCBC;
        }
    }
    
    &__coupon {
        //max-width: 350px;
        margin: 0 0 36px;
        > div {
            display: flex;
            align-items: flex-end;
            
            > * {
                margin: 0 12px 0 0;
            }
        }
        
        .form-input {
            width: 220px;
        }
    }
    
    &__price {
        font-size: 20px;
    }
    
    &__old-price {
        color: $error;
        font-size: 14px;
        display: block;
        text-decoration: line-through;
    }
    
    &__number {
        color: #ddd;
    }
    
    &__method {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        > div {
            margin: 0 16px 16px 0;
        }
    }
    
    &--total {
        font-size: 14px;
        
        .table__row {
            justify-content: flex-end;
            
            > div {
                flex: 0 0 200px;
                &.table__price {
                    flex: 0 0 100px;
                }
            }
            
            &--sale {
                align-items: flex-start;
            }
        }
    }
}